%%-*- mode: erlang -*-
{sub_dirs, ["apps/etally_bench", "rel", "deps"]}.
{deps_dir, "deps"}.
{erl_opts, [{parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {skip_deps, true}]}.
{deps, [
        {lager,            "2.0.0",   {git, "git@github.com:basho/lager.git",               "dc23b34ad40de2473c36d1a2bfeca4910279cc3f"}},
        {etally,          ".*",      {git, "git@github.com:martinsk/etally.git",  "master"}},
        {eper,            "0.69",    {git, "git@github.com:mhald/eper.git",                "HEAD"  }}
       ]}.

